<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="jr" transaction-type="RESOURCE_LOCAL">

        <class>com.ls.jr.entity.Report</class>
        <class>com.ls.jr.entity.Categoria</class>
    </persistence-unit>
</persistence>
